@model IEnumerable<FoodStore.Models.FoodInfo>

@{
    ViewData["Title"] = "Index";
}

<h1 class="headingfont text-center">All Food Details</h1>

<p>
    <a asp-action="Create">Add New Food</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryFood)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryFood.CategoryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FoodID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.FoodID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.FoodID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
